<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>

    <connectionStrings>
        <add name="AddTicket.Properties.Settings.asteriskConnectionString"
            connectionString="user id=root;server=127.0.0.1;database=asterisk;password=P@ssw0rd"
            providerName="MySql.Data.MySqlClient" />
    
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
